

body{
    background-color: #f2f2f2;
    font-family: "poppins";
    margin: 0;
}
.container{
    text-align: center;
    .nav-container{
        background-color: white;
        display: flex;
        justify-content: space-between;
        margin: 0;
        a.logo{
            text-decoration: none;
            font-size: 1.3em;
            font-weight: bold;
            color: black;
            padding-top: .2em;
            span{
                color: rgb(0, 65, 245);
            }
        }
        img.hamburger-menu{
            height: 1.6em;
            padding-top: .4em;
        }
        nav{
            display: none;
            img{
                height: 2.4em;
                width: 2.6em;
            }
        }
    }
    .hero-section{
        p{
            text-transform: uppercase;
            padding-top: 4em;
            letter-spacing: .3em;
        }
        button{
            background-color: rgb(0, 65, 245);
            padding: 1em 2em;
            border-radius: 50px;
            color: white;
            font-weight: bold;
        }
        .hero-cta{
            padding: 1em;
            display: block;
            .cam-image{
                height: 2em;
            }
        }
        .dummy-content-image{
            height: 20em;
        }
        a{
            text-decoration: none;
        }
    }
}